.home-container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: center;
  height: 100vh;

  .logo {
    height: 25vmin;
    pointer-events: none;
  }
}