.modal-content{
    border: unset;
    span{
        text-decoration: none;
        color: gray;
        cursor: pointer;
    }
    p.c-gray{
        color: gray;
        cursor: pointer;
    }
    a{
        color: white;
        text-decoration: none;
    }
    .text-here{
        color: black;
    }
}