body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bold {
  font-weight: bold;
}

.f-normal {
  font-size: calc(16px + 1vw);
}

.f-big {
  font-size: calc(36px + 1vw);
}

.margin-16 {
  margin: 1a6px;
}

.margin-32 {
  margin: 32px;
}

.margin-vertical-32 {
  margin: 32px 0;
}

.c-grey {
  color: dimgrey;
}